[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
flask-restx = "*"
requests = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Cors = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
